.kbd-overlay {
    /* border-radius: 2px; */
    border: 1.5px solid #0D47A1A0;
    justify-content: right;
    border-radius: 3px;
}

.kbd-firstpaint {
    display: none;
}

.kbd-common {
    position: absolute;
    z-index: 100000000;
    pointer-events: none;
}

.kbd-keymark {
    all: initial;
    background-color: #0D47A1A0;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bolder;
    width: 12px !important;
    height: 12px !important;
    text-align: center;
    margin: auto;
    overflow: visible;
    position: absolute;
    padding-bottom: 4px;
    padding-left: 4px;
    right: 0px;
    border-bottom-left-radius: 3px;
}
